<form action="/users/login" method="post">
  <label>Username&colon;
    <input type="text" name="username" value="<%= @username %>">
  </label>

  <label>Password&colon;
    <input type="text" name="password">
  </label>
  <button type="submit">Log In</button>
</form>